@import './variables';
#launching {
    position: relative;
    .launching_text {
        padding-left: .5vmax;
        .title {
            font-size: 3vmax;
            line-height: 142.69%;
            font-weight: bold;
            width: 45vw;
            color: $primary;
        }
        .text_block {
            margin-top: 1vmax;
            p {
                font-size: 1.5vmax;
                line-height: 110%;
                letter-spacing: 0.015em;
                font-weight: 500;
                margin: 0;
            }
            .bigger {
                font-size: 1.6vmax;
                font-weight: bold;
                line-height: 110%;
            }
        }
        .phone {
            margin-top: 2vmax;
            line-height: 100%;
            img {
                margin-right: .7vw;
                height: 1.7vmax;
            }
            p {
                font-size: 1.8vmax;
                margin-right: 2vmax;
            }
        }
    }
    .side_picture {
        display: flex;
        align-items: center;
        #cover_img {
            width: 30vmax;
            max-width: 50vw;
        }
    }
    .bg {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        width: 85%;
        height: 32vmax;
        background-color: $accent2;
        z-index: -1;
    }
    @media(max-width:767.98px) and (orientation: portrait) {
        .launching_text {
            .title {
                font-size: 1.7vmax!important;
                line-height: 142.69%!important;
            }
            p {
                margin-top: 0.5vmax;
                font-size: 1.1vmax!important;
            }
            .together_if_small {
                margin-top: 0vmax!important;
            }
            .phone {
                justify-content: end;
                margin-top: 1vmax;
                img {
                    height: 1vmax;
                }
                p {
                    font-size: 1vmax!important;
                    letter-spacing: 0;
                }
            }
        }
        .bg {
            height: 32vmax!important;
            max-height: 55vw;
        }
    }
    @media(min-width:768px) {
        .launching_text {
            padding-left: 3vmax!important;
            .title {
                font-size: 4vmax!important;
                line-height: 142.69%!important;
            }
            p {
                font-size: 1.8vmax!important;
            }
            .bigger {
                font-size: 2.3vmax!important;
            }
        }
        #cover_img {
            background-size: cover;
            width: 45vmax!important;
            height: 60vmax!important;
            padding-left: 45vmax;
        }
        .bg {
            left: 0;
            height: 52vmax!important;
        }
    }
    @media(min-width:992px) and (orientation: landscape) {
        min-height: 100vh;
    }
}

.section_title {
    font-family: "Alegreya Sans SC";
    font-size: 4vmax;
    font-weight: bold;
    color: $primary;
    text-transform: uppercase;
    line-height: 127.1%;
    letter-spacing: 0.015em;
    width: 100%;
    text-align: center;
    margin: 10vmax 0 3vmax;
    @media(min-width: 768px) {
        font-size: 6.5vmax!important;
    }
}

#services {
    .row {
        .service_card {
            padding-bottom: 2vmax;
            padding-left: 2rem;
            padding-right: 2rem;
            .service_card_bg {
                height: 20vmax;
                background-repeat: no-repeat;
                background-size: cover;
                position: relative;
                .darken {
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    padding: 2vmax 1vmax;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba($black, 0.2);
                    z-index: 1;
                    &:hover {
                        background-color: rgba($black, 0.6);
                        transition: .2s ease-in;
                    }
                }
                .title {
                    font-size: 2.3vmax;
                    color: $white;
                    font-weight: bold;
                    z-index: 2;
                    text-align: center;
                    margin-bottom: .5rem;
                }
                .description {
                    font-size: 1.5vmax;
                    color: $white;
                    font-weight: bold;
                    z-index: 2;
                    text-align: center;
                }
            }
        }
    }
    @media(min-width: 992px) {
        .row {
            &>:nth-child(odd) {
                padding-right: 0!important;
                padding-left: 3rem!important;
            }
            &>:nth-child(even) {
                padding-right: 3rem!important;
                padding-left: 0!important;
            }
            .service_card {
                .service_card_bg {
                    height: 16vmax!important;
                    .darken {
                        display: block!important;
                        .title {
                            margin: 0!important;
                            font-size: 2.7vmax!important;
                            text-align: left!important;
                        }
                        .description {
                            font-size: 2vmax!important;
                            text-align: left!important;
                        }
                    }
                }
            }
        }
    }
}

#how_to_use {
    .row {
        font-family: Alegreya Sans SC;
        font-weight: bold;
        padding: 0 4vmax;
        p {
            text-transform: uppercase;
            font-size: 1.5vmax;
            margin-bottom: .7vmax;
        }
        .circle {
            display: flex;
            height: 5vmax;
            width: 5vmax;
            font-size: 2vmax;
            border-radius: 50%;
            background-color: $accent;
            justify-content: center;
            align-items: center;
            margin-bottom: 2vmax;
        }
        .icon {
            height: 5.5vmax;
            margin-bottom: 2vmax;
            #pointing_hand {
                height: 7.5vmax;
                top: -1vmax;
                left: -4vmax;
            }
        }
        .caption {
            font-size: 1.5vmax;
        }
        .arrow {
            padding: 10vmax 1vmax 0;
            img {
                height: 3vmax;
            }
        }
    }
    @media(min-width: 768px) {
        .row {
            padding: 0 12vmax!important;
            .circle {
                height: 6vmax!important;
                width: 6vmax!important;
                font-size: 3vmax!important;
                margin-bottom: 3vmax!important;
            }
            .icon {
                height: 8vmax!important;
                #pointing_hand {
                    height: 12vmax!important;
                    top: -2vmax!important;
                    left: -6vmax!important;
                }
            }
            .arrow {
                padding: 10vmax 0 0!important;
                img {
                    height: 5vmax!important;
                }
            }
        }
    }
}

#aboutus {
    .aboutus_text {
        padding: 0 4vmax;
        p {
            font-family: "Reem Kufi";
            font-weight: bold;
            font-size: 1.2vmax;
            line-height: 164.5%;
            text-align: center;
            width: 100%;
            letter-spacing: 0;
            margin: 0;
        }
    }
    img {
        width: 100%;
        margin-bottom: 3vmax;
    }
    @media(min-width: 768px) {
        img {
            background-size: contain;
            height: 45vw!important;
            padding-left: 100vw;
            margin-bottom: 0!important;
        }
        .aboutus_text {
            padding-bottom: 4rem!important;
            p {
                font-size: 2vmax!important;
                font-weight: normal;
            }
        }
    }
}

#advisors {
    padding: 5vmax;
    .subsection {
        .subsection_title {
            font-family: "Alegreya Sans SC";
            font-weight: bold;
            font-size: 2.5vmax;
            line-height: 127.1%;
            letter-spacing: 0.015em;
            color: $primary;
            margin: 5vmax 0 2vmax;
            width: 100%;
            text-align: center;
        }
        .advisor {
            display: flex;
            flex-direction: column;
            margin-bottom: 2vmax;
            img {
                height: 22vmax;
                margin: 2vmax 2vmax 2vmax 0;
            }
            p {
                margin: 0;
                font-size: 1.6vmax;
                line-height: 147.1%;
                letter-spacing: 0.015em;
                text-align: center;
            }
        }
    }
    @media(min-width: 768px) {
        .subsection {
            .subsection_title {
                text-align: start!important;
                font-size: 3.5vmax!important;
                margin: 7vmax 0 2vmax!important;
            }
            .advisor {
                margin: 0!important;
                flex-direction: row!important;
                p {
                    text-align: start!important;
                    font-size: 2vmax!important;
                }
            }
        }
    }
}

#contact {
    padding: 0 4vmax;
    label {
        font-family: "Alegreya Sans SC";
        font-weight: bold;
        line-height: 127.1%;
        letter-spacing: 0.015em;
        font-size: 1.5vmax;
        margin-left: 1vmax;
    }
    input,
    textarea {
        font-size: 1.2vmax;
        border-radius: 2rem;
        border: .15vmax solid $black;
        padding: 1vmax 2vmax;
        &:focus {
            border: .15vmax solid $primary;
        }
        resize:none;
    }
    input {
        margin-bottom: 3.5vmax;
    }
    textarea {
        margin-bottom: 2.5vmax;
    }
    button {
        border: none;
        background-color: $accent;
        border-radius: 3.5rem;
        font-weight: bold;
        font-size: 1.5vmax;
        line-height: 2vmax;
        text-align: center;
        padding: 1vmax 9vmax;
        margin-bottom: 5vmax;
    }
    @media(min-width:768px) {
        padding: 0 15vmax!important;
        input,
        textarea {
            font-size: 1.5vmax!important;
            padding: 2vmax!important;
        }
    }
}