@import "./variables";
@import "./fonts";
main {
    font-family: Roboto;
    padding: 0 2vmax;
    p {
        margin-bottom: 1.5vmax;
    }
    .bigger {
        font-weight: 700;
        font-size: 2.75vmax;
    }
    .section_title {
        font-size: 3.75vmax;
        font-weight: 700;
        margin-bottom: 0.75vmax;
    }
    .what_section_title {
        font-size: 3.75vmax;
        font-weight: 500;
    }
    #staff_presentation {
        .page_title {
            font-size: 4vmax;
            width: 100%;
            text-align: center;
            font-weight: 500;
            padding: 3vmax 0 2vmax;
        }
        .person_block {
            margin-bottom: 8vmax;
            img {
                width: 100%;
            }
            .name {
                font-size: 3.5vmax;
                font-weight: bold;
            }
        }
    }
    .qna_group {
        padding-bottom: 6vmax;
    }
    #map {
        margin-bottom: 3vmax;
    }
    @media (min-width: 768px) {
        padding: 0 13vmax;
        p {
            margin-bottom: 1.5vmax;
        }
        .bigger {
            font-weight: 700;
            font-size: 1.5vmax;
        }
        .section_title {
            font-size: 2vmax;
            font-weight: 700;
            margin-bottom: 0.75vmax;
        }
        .what_section_title {
            font-size: 2vmax;
            font-weight: 500;
        }
        #staff_presentation {
            .page_title {
                font-size: 2.25vmax;
                width: 100%;
                text-align: center;
                font-weight: 500;
                padding: 3vmax;
            }
            .person_block {
                margin-bottom: 4vmax;
                img {
                    width: 25vmax;
                }
                .name {
                    font-size: 2vmax;
                    font-weight: bold;
                }
            }
        }
        .qna_group {
            padding-bottom: 3vmax;
        }
    }
}