{% extends "base.html" %}
{% load static %}
{% block title %}Tax Accounting Services{% endblock %}
{% block styles %}<link rel="stylesheet" href="{% static 'css/tax-auditing.css' %}"> {% endblock styles %}
{% block content %}
<hr>
<section id="staff_presentation">
    <div class="page_title">税務会計サービス</div>
    <div class="person_block">
        <img src="{% static 'img/tax1.png' %}" alt="">
        <p class="name">所長 飯塚　信男</p>
        <p>プロフィール</p>
        <p>昭和63年より東京都北区の税理士事務所に勤務。<br> 平成10年3月に税理士登録、開業。
            <br> 現在、法人顧問を中心に個人事業、相続の税務相談、開業支援、事業承継等を行う。
        </p>
    </div>
    <div>
        <strong><p>わたしたちのモットーは</p></strong>
        <strong><p>「お客様の繁栄が私たちの喜びです」</p></strong>
        <p>日本では生活を営む上で約 50 種類の税金と関係して暮らしており、税制改正は毎年行われております。</p>
        <p>経営者は税金に関しても情報を適切に生かしていくことが求められています。 私たちは経営者の税務会計のパートナーとして、 良質な情報提供と情報交換を通して信頼関係を高め、 お客様の安心と繁栄に貢献していきます。</p>
    </div>
    <hr>
    <div class="person_block">
        <img src="{% static 'img/tax2.png' %}" alt="">
        <p class="name">飯塚　孝明</p>
        <strong><p>私は仕事をすることは価値を創り出すことだと考えています。</p></strong>
        <p>カーネル・サンダース氏は 65 歳で KFC を創業し、現在195 か国以上の国に約 20,000 店舗を展開するまでになりました。世界一の億万長者である amazon の創設者 ジェフ・ベソス氏はガレージの一室からビジネスをスタートしました。どんな成功者でも最初の一歩、スタートがあります。</p>
        <p>私たちは夢をもって起業家の道をスタートした経営者の方へのパートナーシップを結び、専門家としての価値を最大限提供し、共に成長し、繁栄に貢献することを喜びとしています。おかげさまで、これまでも多くの経営者の方とそのような喜びを共にすることが出来ました。</p>
        <p>これからも専門性を磨き、経営者の方の良きパートナーとしてワクワクする未来を共に創っていきたいと思っております。</p>
    </div>
    <hr>
</section>

<section>
    <p class="what_section_title">What we do</p>
    <p>主なサービス</p>
    <p>会計税務相談・税務書類の作成</p>
    <p>税務調査立会い</p>
    <p>経理自計化支援</p>
    <p>決算及び記帳代行</p>
    <p>起業・開業支援</p>
    <p>経営診断と戦略経営</p>
    <p>融資のあっせん及び資金計画書指導、文書指導</p>
    <p>助成金・融資支援</p>
    <p>資産運用のプランニング</p>
    <p>セミナーの開催、会議指導</p>
    <p>相続、贈与、事業承継</p>
</section>
<hr>
<br>
<section>
  {# TODO: Continue from here. PS:There are some Q&A out of order. Have to fix!! #}
    <div class="section_title">Q&A　開業から申告まで使えるよくある質問</div>
    <div class="section_title">「個人事業主」の質問</div>
    <p>「開業」のよくある質問？</p>
    <div class="qna_group">
        <p><strong>Q：</strong>開業届は申請する義務がありますか？</p>
        <p><strong>A：</strong>提出しなくても罰則等はありません。提出する場合は事業開始から 1 ヶ月以内が期限となっています。</p>
    </div>
    <div class="qna_group">
        <p><strong>Q：</strong>開業届を提出する必要性は？</p>
        <p><strong>A：</strong>確定申告時に「白色申告」ではなく、所得に対し 65 万円の特別控除が受けられるなど様々な節税効果のある「青色申告」を利用できます。</p>
        <p>※「青色申告」を行う場合は、開業後 2 ヶ月以内に青色事業承認申請書を提出する必要があります。</p>
        <p>会計上の損失を 3 年間は繰り越すことができるようになります。今年赤字だった場合、その損失額を翌年以降の黒字と相殺し節税できる可能性があります。</p>
        <p>銀行で口座を開設する際には、屋号で口座を開設出来ます。</p>
    </div>
    <div class="qna_group">
        <p><strong>Q：</strong>開業届を提出するデメリットは？</p>
        <p><strong>A：</strong>失業手当ての受給資格がなくなります。</p>
        <p>健康保険の扶養から外れ、保険料を負担しなくてはならない場合があります。</p>
        <p>業種により事業税がかかります。また、業種により税率が変わるため、職業欄を書く際には検討する必要があります。</p>
    </div>
    <div class="qna_group">
        <p><strong>Q：</strong>文書の入手先や書き方などの手続のやり方は？</p>
        <p><strong>A：</strong>国税庁のホームページで PDF になった用紙をダウンロードしましょう。自力では申請が難しいという場合は、申請手続きをサポートしてもらうことができます。</p>
    </div>
    <div class="qna_group">
        <p><strong>Q：</strong>開業届を出さず確定申告もしなければ収入も分からないし、税金を納める必要も無いのでは？</p>
        <p><strong>A：</strong>納税は国民の社会的義務であり、脱税は犯罪です。マイナンバー制度で国税庁は資産や収入も特定できるように対策しています。</p>
    </div>
    <div class="qna_group">
        <p><strong>Q：</strong>開業資金はどれくらいかかる？</p>
        <p><strong>A：</strong>設備投資には大きな費用がかかる</p>
        <p>運転資金の目安は、「開業後 3 ヵ月以内に必要な支払い経費」と考えておきましょう。仮に運転資金が 1 ～ 2 ヵ月分しかないと、開業後すぐに資金繰りに苦しむことになりかねません。</p>
    </div>
    <div class="qna_group">
        <p><strong>Q：</strong>開業費用はどのように調達する？</p>
        <p><strong>A：</strong>調達方法は「自己資本」と「他人資本」に分類されます</p>
        <p>「自己資本」とは返済をする必要がない資産のことをいいます。</p>
        <p>自身が貯蓄してきたお金</p>
        <p>その事業に賛同する人々からの出資・寄付・贈与</p>
        <p>他人資本では一般的な融資とは異なり、過去の経営実績が問われない日本政策金融公庫からの創業融資は、みずからの将来性や人柄をうまくアピールできる人にとって有利です。</p>
    </div>
    <div class="qna_group">
        <p><strong>Q：</strong>そもそも融資は受けたほうがいいの？</p>
        <p><strong>A：</strong>まずは自己資金を積み増す検討をすることです。親族等から借り入れができないか検討して見ましょう。また、補助金や助成金を活用する方法もあります。融資と異なり、補助金や助成金は返済する必要がありません。自力では申請が難しいという場合でも、一定の報酬を支払うことで申請手続きをサポートしてもらうことができます。</p>
    </div>
    <div class="qna_group">
        <p><strong>Q：</strong>どこまで経費で落とせる？</p>
        <p><strong>A：</strong>例えば仕事上で使うコピー紙やボールペンなどは消耗品費、取引先との打ち合わせに向かうため使用した電車の電車賃は交通費として、経費に計上できます。個人事業主の場合これら以外にも、家賃や光熱費なども経費に計上することができます。なぜなら個人事業主の場合、自宅を仕事場として使用することがあるからです。このような場合には、家事按分を活用します。</p>
        <p>『経費にできないもの』</p>
        <p>・福利厚生費</p>
        <p>福利厚生とは本来従業員に対するものなので、そもそも個人事業主にはない概念だからです。事業にかかる経費とは一体どこまでかという線引きが曖昧になってしまいます。あくまで事業を行う上で発生した費用が経費なのです。</p>
        <p>・所得税、住民税</p>
        <p>これは事業に関係なく支払う義務のあるものですので、経費にはなりません。</p>
        <p>・健康診断費</p>
        <p>企業などでは従業員に対し健康診断が義務づけられ、経費で処理されています。しかし個人事業主の場合、健康診断費は経費にはなりません。プライベートの費用として判断されます。</p>
    </div>
</section>

<section>
    <div class="section_title">「法人」の質問</div>
    <p>「法人設立」のよくある質問</p>
    <div class="qna_group">
        <p><strong>Q：</strong>個人事業主・法人の違いは？</p>
        <p><strong>A：</strong></p>
        <p>・個人事業主のメリット・デメリット</p>
        <p>個人事業主のメリットは、なんといっても手続きがカンタンなことです。</p>
        <p>法人と個人事業主の比較の面では、個人事業主は赤字の繰越が 3 年までしか出来ないなど、税金面でのメリットは法人には敵いません。また、法人としか取引しない企業があったり、法人のほうが従業員を採用する際もイメージがよかったりといったこともあります。</p>
        <p>・法人のメリット・デメリット</p>
        <p>法人には税金面や信用面でのメリットがあります。</p>
        <p>まず税金面でのメリットに関して説明します。所得税と法人税を比較すると、法人税は累進性が低いというメリットがあります。また、個人事業主の場合は、収入から経費を差し引いた所得すべてに所得税がかかりますが、法人の場合は、一部のみを経営者の報酬とし、そこに所得税が掛かります。（残りの部分には、法人税が課税されます。）</p>
        <p>また、信用面のメリットですが、個人事業主に比べて、法人の信用度は高いです。大企業では、法人としか取引しない企業もあります。また、保険を経費にできたり、赤字の繰越が個人より長かったり、株式発行による資金調達ができたりといったメリットもあります。</p>
        <p>逆に、法人の場合は、登記に際して定款作成など面倒なことが多かったり、赤字でも必ず税金がかかったりといったデメリットがあります。</p>
        <p>ざっくりいうと、独立後の売上が低い見込み（数百万円程度まで）の方は個人事業主、独立後 1,000 万円近い売上が見込める方や大きな投資をする予定の方は法人を選ぶといいでしょう。</p>
    </div>
    <div class="qna_group">
        <p><strong>Q：</strong>個人事業主が法人成りを考え始める目安となる事業所得はどのくらい？</p>
        <p><strong>A：</strong>事業所得が 500 万円を超える頃を目安として、法人成りを検討し始めるのが妥当といえます。</p>
        <p>上記のような節税メリットに加え、社会的信頼性の向上が挙げられます。個人事業主である間は、取引先として選ばれなかった相手であっても、法人という設立形態をとることによって信頼度が増し、取引ができる場合があります。</p>
        <p>さらに、法人成りのきっかけとして、消費税の節税対策もよくある理由のひとつです。例えば、個人事業としての課税売上高が 1,000 万円を超えた年から起算して 3 年目には消費税が課され始めます。しかしながら、資本金 1,000 万円未満の会社を設立して法人成りをすることにより、原則として多くの場合、設立年度と設立 2 年目の年度について消費税は課されないルールとなっているからです。</p>
    </div>
    <div class="qna_group">
        <p><strong>Q：</strong>株式会社と合同会社の違いは？</p>
        <p><strong>A：</strong></p>
        <p>・費用</p>
        <p>合同会社は６万円で設立可能です。（登録免許税６万円のみ） 一方、株式会社の場合、登録免許税（15万円)と定款承認 (5 万円) で、20万円もの費用が掛かりますので、合同会社のほうが、約 14 万円も安く設立できます。また、登記に必要な書類も少ないため、早く簡単に設立できます。</p>
        <p>・資金調達</p>
        <p>一方、資金調達の面では、株式会社のほうが有利です。株式会社は、銀行からのローンや債券以外にも、株式の発行もできます。つまり、株式による資金調達を考えている方、上場を考えている方は、株式会社のほうがいいでしょう。</p>
        <p class="bigger">合同会社がオススメの方</p>
        <p>安く会社を設立したい方。許認可など何らかの理由で法人格が必要な方。</p>
        <p class="bigger">株式会社がオススメの方</p>
        <p>投資家からの増資による資金調達などを検討している方</p>
        <p>上場したい方</p>
    </div>
    <div class="qna_group">
        <p><strong>Q：</strong>会社設立の流れは？</p>
        <p><strong>A：</strong></p>
        <p>・印鑑を用意する</p>
        <p>・定款等の必要な書類を作る</p>
        <p>・お金を準備する</p>
        <p>・定款の電子認証を依頼する</p>
        <p>・公証役場で定款認証を受ける</p>
        <p>・法人口座を開設し資本金を振り込む</p>
        <p>・法務局で登記申請する</p>
        <p>・法務局で登記簿謄本を取得する</p>
        <p>・税務署、役所、年金事務所へ必要書類を提出する</p>
        <p>・会計ソフトを導入する</p>
        <p>・クレジットカードをつくる</p>
    </div>
    <p class="bigger">起業をしたいけれど、お金がない。</p>
    <div class="qna_group">
        <p><strong>Q：</strong>「助成金」や「補助金」の活用を検討してみてはいかがでしょう？</p>
        <p><strong>A：</strong>返済義務がある融資に対して、返済しなくて良い助成金・補助金。さらに、募集の間口が広かったり支給額が高額だったりと、受ける側のメリットが大きいです。</p>
        <p>まず、助成金や補助金を探すための方法として、中小企業庁の委託事業である「ミラサポ」から探す方法があります。国や全国の自治体が募集している補助金や助成金、さらには税制優遇まですべて検索できます。</p>
        <p><strong>メリットが大きいものは倍率も高くなりがち</strong></p>
        <p>助成金や補助金をもらうために開業するのではなく、まずは計画をしっかり立てて「サポートする価値が十分にある」と思われる事業を作っていくことが第一です。</p>
        <p>提出書類の準備には時間と労力がかかる事業計画書に収支計画、申請書類など、助成金や補助金の制度に応募する際は、数多くの書類を用意しなければいけないケースがほとんどです。</p>
        <p>創業融資を考えてみる</p>
        <p>助成金や補助金、優遇税制の活用以外にも、日本政策金融公庫の創業融資を受ける手段があります。創業融資のメリットは、無担保や保証人が無い場合でも貸してもらえることや、金利が低い場合があることです。最大で3000 万円程度借りられます。</p>
    </div>
    <div class="qna_group">
        <p><strong>Q：</strong>事業計画って必要なのか？</p>
        <p><strong>A：</strong>事業の立ち上げや継続に必要な資金を調達するために必要になります。</p>
        <p>事業計画書は、自分の事業を客観的に見つめ直し、改善するヒントにもなる文書でもあります。直近で資金調達の予定がなくても、作成してみるといいでしょう。事業計画なんて必要ない。できる限り多く売上を伸ばして、出費を抑えればいいでしょ」と思われている方もいるかと思います。しかし、売上を予想することで節税も計画できますし、実績のない企業が人材を集めようとしたときにも、事業計画書があれば魅力を伝えられます。新しい事業を始めるのであれば、作っておいたほうがいいでしょう。</p>
    </div>
    <div class="qna_group">
        <p><strong>Q：</strong>役員報酬は自由に変更できない？</p>
        <p><strong>A：</strong>役員報酬は好きに決めていいものですが、原則として１年間の中で、常に同じ額を支払い続けなくてはなりません。１年間の中で、役員報酬を変えてしまうと損金にできない可能性があるので注意しましょう。</p>
        <p><strong>会社の税金と自分の所得税のバランスを考えましょう</strong></p>
        <p>役員報酬の金額を慎重に考える必要があるのかというと、節税のためです。役員報酬を支払い過ぎれば自分の所得税としてたくさん税金を支払うことになります。その一方、役員報酬をほとんど支払わず、会社に利益としてお金が残れば、法人税として支払うことになります。 ですので、双方の税額を考慮した上で自分に払う役員報酬を決める必要があるのです。</p>
    </div>
    <div class="qna_group">
        <p><strong>Q：</strong>社会保険に加入すべき？</p>
        <p><strong>A：</strong>会社を起業したら社会保険に加入しなければなりません。強制加入の対象になっていると、保険料を過去2 人以上雇用している場合は社会保険の加入が必要となります。</p>
        <p>ただし加入義務があるといっても例外もあります。社長1 人の会社で役員報酬がゼロ、あるいは報酬が保険料を下回る場合は年金事務所から社会保険への加入を断られるケースがほとんどですので、国民健康保険と国民年金に加入することになります。</p>
    </div>
    <div class="qna_group">
        <p><strong>Q：</strong>社会保険料の負担はどれぐらいなのか？</p>
        <p><strong>A：</strong>社会保険料の総額の中で、会社負担となる割合は、従業員の給与の約15％ と言われています。ですから、仮に給与が30万円の従業員がいる場合、45,000 円が毎月会社負担の社会保険料となります。設立したての会社にとっては大きな負担となりますので、支払などを十分に考慮して事業計画や採用計画を立てる必要があるといえるでしょう。</p>
    </div>
</section>

<section id="map">
    <p class="bigger">事務所位置</p>
    <span face="游明朝" style="font-family: 游明朝;">
      <span lang="ja-JP">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3237.5294810583146!2d139.71409081526096!3d35.76236798017548!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x601892e9563aad07%3A0xe24570e4d85a9ecc!2z44CSMTE0LTAwMzQg5p2x5Lqs6YO95YyX5Yy65LiK5Y2B5p2h77yT5LiB55uu77yR77yV4oiS77yW!5e0!3m2!1sja!2sjp!4v1567581544540!5m2!1sja!2sjp" width="100%" height="450" frameborder="0" style="border: 0;" allowfullscreen="">
        </iframe>
      </span>
    </span>
</section>

{% endblock %}
